.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Compiled source
*.exe
*.out
*.o
*.gch
.vscode
test.c
lib/
build/

# CMake File
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
